@import "tailwindcss";
html {
  scroll-behavior: smooth;
  overflow-x : hidden
}

.swiper-button-next, .swiper-button-prev{
  @apply !text-white !w-6 !h-6 !font-bold
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    @apply !text-blue-200

}
.swiper-button-next{
  @apply !right-5
}
.swiper-button-prev{
  @apply !left-5
}
#facilities .swiper-pagination-bullet{
  @apply !bg-blue-100 !opacity-100
}
#facilities .swiper-pagination{
  /* @apply !bottom-[-10px] */
}
#facilities .swiper{
  @apply !h-90
}
@media (max-width: 640px) {
  #facilities .swiper-button-next,
  #facilities.swiper-button-prev {
    display: none !important;
  }
}
@media (max-width: 768px) {
  #facilities .swiper-button-next,
  #facilities .swiper-button-prev {
    display: none !important;
  }
}
#facilities .swiper-pagination-bullet-active{
  @apply !bg-blue-600 !opacity-100
}
.swiper-pagination-bullet{
  @apply !bg-white !opacity-100
}
.swiper-pagination-bullet-active{
  @apply !bg-blue-400 !opacity-100
}